<form onsubmit="event.preventDefault();" role="search">
 

  <label for="search"> Enter Website URL</label>
  <input #search type="search" placeholder="Type any url .." autofocus required />
  <button type="submit" (click)="getValue(search.value)">Snap</button>    
  

    <!-- <mat-spinner *ngIf="showspinner"></mat-spinner> -->
   
  </form>
  <!-- <div class="img-card">
    <a href="">
      <img class="small_image" src='{{display}}' >
    </a>
   </div> -->

  <!-- <div class="cards-list" >
  
    <div class="card 1">
      <div class="card_image"> <img src='{{display}}' /> </div>
      <div class="card_title title-white">
        <p>{{search.value}}</p>
      </div>
    </div>
    
    </div> -->
    <mat-card class="example-card"  *ngIf="isShown" id="divshow" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><span > Screenshot of</span> {{search.value}}</mat-card-title>
      </mat-card-header>
      <a href='{{display}}' target="_blank" download="screenshot" >
      <img mat-card-image src='{{display}}' alt="Photo of a Shiba Inu">
    </a>
   
      <mat-card-content>
        <p>jhekafsel;j.belfbauise</p>
        <button >Download</button>
      </mat-card-content>
      <mat-card-actions>
        
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    
    
   
 






