.search {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 2%;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: lemonchiffon;


}

input {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    // border: 2px solid rgb(17, 219, 255);
    // border-radius: 5px solid rgb(203, 255, 17);

    &:focus { 
        outline: none !important;
        border-color: rgb(32, 175, 204);
        box-shadow: 0 0 10px rgb(118, 226, 245);
     }
//   border-radius: ;
  }
 
.container{
    display:grid;
    background-color: #000000;
    // opacity: 0.;
    font-family: 'Press Start 2P', cursive;

    width: 600px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 50px 0 #2c999e;
    padding: 2%;
    
}

button {
    width: 30%;
    height: 50px;
    text-decoration:none;
    font-size:20px;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    padding: 5px;
    background-color: snow;
}